.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 53px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color:rgb(187, 186, 186)
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItems{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 8px;
}

.sidebarListItems.active, .sidebarListItems:hover{
    background-color: rgb(228, 228, 250);
}

.sidebarIcons{
    margin-right: 5px;
    font-size: 20px !important;
}